@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  overflow: hidden;
}
/* body {
  background-color: #2f2e2c;
} */

/* /* @layer base {
  li {
    @apply p-4 text-xl cursor-pointer sm:hover:text-[#FFC40A];
  } */
/* button {
    @apply text-white border bg-cyan-600 border-cyan-600
    hover:bg-transparent hover:text-cyan-600 rounded-md;
  } */
